<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Pandas/blob/main/Esecizi_3_matplotlip_e_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/platea.csv")
df

    area      reg    eta  totale_popolazione
0    ABR  Abruzzo  05-11               76431
1    ABR  Abruzzo  12-19               94727
2    ABR  Abruzzo  20-29              125230
3    ABR  Abruzzo  30-39              146965
4    ABR  Abruzzo  40-49              187162
..   ...      ...    ...                 ...
184  VEN   Veneto  40-49              715790
185  VEN   Veneto  50-59              806474
186  VEN   Veneto  60-69              610635
187  VEN   Veneto  70-79              494721
188  VEN   Veneto    80+              375784

[189 rows x 4 columns]

In [ ]:
#1. il numero di record presente nel file
len(df. index)

In [ ]:
#2. il numero di regioni presente nel file
len(set(df["reg"]))

In [ ]:
#3. il numero di abitanti di ogni regione. Ordinare in ordine decrescente sul numero di abitanti
dfSi = df.groupby("reg").sum()[["totale_popolazione"]].sort_values(by=["totale_popolazione"],ascending = False).reset_index()
dfSi

In [ ]:
PopTot = df.groupby("reg")[["totale_popolazione"]].sum().reset_index()
PopTot

In [ ]:
#4. la regione con il numero di abitanti più alto
PopTot[PopTot["totale_popolazione"] == PopTot["totale_popolazione"].max()][["reg"]]

In [ ]:
df["totale_popolazione"].max()

1677629

In [ ]:
#5. il numero medio di abitanti delle regioni
dfMedia = df.groupby("reg")[["totale_popolazione"]].mean()
dfMedia

In [ ]:
#6. le regioni che hanno più abitanti della media degli abitanti delle regioni
PopTot = df.groupby("reg")[["totale_popolazione"]].sum()
PopTot

In [ ]:
PopTot[(PopTot["totale_popolazione"]) > (PopTot["totale_popolazione"].mean())]

In [ ]:
#7. la regione che ha più abitanti nella fascia 12-19

dfGino = df[df["eta"] == "12-19"].groupby("reg").sum()[["totale_popolazione"]].reset_index()

dfGino[dfGino["totale_popolazione"] == dfGino["totale_popolazione"].max()][["reg"]]

In [ ]:
#8. il numero di abitanti per ogni fascia d'età
dfEta = df.groupby("eta").sum()[["totale_popolazione"]].reset_index()
dfEta

In [ ]:
#9. la fascia d'età con più abitanti
dfEta[dfEta["totale_popolazione"] == dfEta["totale_popolazione"].max()]

In [ ]:
!pip install squarify

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#10.  un grafico a barre orizzontali per l'esercizio 3
import squarify
labels = dfSi['reg']
dati = dfSi['totale_popolazione']

fig, ax = plt.subplots(figsize=(15,8))
ax.barh(labels, dati, label='totale vaccinati in ogni regione',color=["red","green","blue", "grey", "orange", "yellow"])

ax.set_ylabel('abitanti (in milioni)')
ax.set_title('popolazione vaccinata nelle varie regioni')
ax.set_xticklabels(labels) 
ax.legend()

In [ ]:
#11. un grafico a barre verticali per l'esercizio 8
labels = dfEta['eta']
dati = dfEta['totale_popolazione']

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(labels, dati, label='totale vaccinati in ogni regione',color=["red","green","blue", "grey", "orange", "yellow"])

ax.set_ylabel('abitanti (in milioni)')
ax.set_title('popolazione vaccinata nelle varie regioni')
ax.set_xticklabels(labels) 
ax.legend()

In [ ]:
#12. un grafico a torta per l'esercizio 3 che riporti le percentuali
labels = dfSi['reg']
dati = dfSi['totale_popolazione']
plt.figure(figsize=(16, 8))
plt.pie(dati, labels=labels, autopct='%1.1f%%')
plt.show()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-20221119.csv")
df

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi,note,codice_nuts_1,codice_nuts_2,codice_nuts_3
0,2022-11-19T17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,123235,NaN,ITF,ITF1,ITF11
1,2022-11-19T17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,143295,NaN,ITF,ITF1,ITF12
2,2022-11-19T17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,142547,NaN,ITF,ITF1,ITF13
3,2022-11-19T17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,171694,NaN,ITF,ITF1,ITF14
4,2022-11-19T17:00:00,ITA,13,Abruzzo,879,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,12772,NaN,ITF,ITF1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022-11-19T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,420955,NaN,ITH,ITH3,ITH35
145,2022-11-19T17:00:00,ITA,5,Veneto,28,Padova,PD,45.406930,11.876087,488071,NaN,ITH,ITH3,ITH36
146,2022-11-19T17:00:00,ITA,5,Veneto,29,Rovigo,RO,45.071073,11.790070,108879,NaN,ITH,ITH3,ITH37
147,2022-11-19T17:00:00,ITA,5,Veneto,899,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,37545,NaN,ITH,ITH3,NaN
148,2022-11-19T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,NaN,NaN,12075,NaN,ITH,ITH3,NaN

1. visualizzare il numero di provincie

2. visulizzare il numero dei casi totale per ogni regione ordinare in modo decrescente il numero di casi.

3. vuisualizzare la regione con più casi

4. visualizzare le regioni con longitudine nulla

5. viusalizzare il numero di casi per ogni provincia

6. visualizzare l aprovincia con meno casi

7. fare grafico verticale del esercizio 2

In [ ]:
#1
len(set(df["denominazione_provincia"]))

In [ ]:
#2
dfCiao = df.groupby("denominazione_regione").sum()[["totale_casi"]].sort_values(by=["totale_casi"],ascending = False).reset_index()

In [ ]:
#3
TotCasi = df.groupby("denominazione_regione")[["totale_casi"]].sum().reset_index()
TotCasi[TotCasi["totale_casi"] == TotCasi["totale_casi"].max()][["denominazione_regione"]]

In [ ]:
#4 visualizzare le regioni con longitudine nulla
ciao = df[df.long.isnull()]["denominazione_regione"]
ciaosenzadoppioni = set(ciao)
ciaosenzadoppioni

NameError: ignored

In [ ]:
#5 viusalizzare il numero di casi per ogni provincia
df.groupby("denominazione_provincia").sum()[["totale_casi"]]

In [ ]:
#6 visualizzare l aprovincia con meno casi
TotCasiProvincia = df.groupby("denominazione_provincia")[["totale_casi"]].sum().reset_index()
TotCasiProvincia[TotCasiProvincia["totale_casi"] == TotCasiProvincia["totale_casi"].min()][["denominazione_provincia"]]

In [ ]:
#7 fare grafico verticale del esercizio 2
labels = dfCiao['denominazione_regione']
dati = dfCiao['totale_casi']

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(labels, dati, label='totale vaccinati in ogni regione')
plt.xticks(rotation = 50)
ax.set_ylabel('abitanti (in milioni)')
ax.set_title('popolazione vaccinata nelle varie regioni')
ax.set_xticklabels(labels) 
ax.legend()