<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Pandas/blob/main/esercizi_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies

In [ ]:
movies.head(7)

In [ ]:
movies[["Genre","Film"]]

In [ ]:
movies.tail(5)

In [ ]:
movies['Audience score %'].sum()

In [ ]:
movies['Rotten Tomatoes %'].mean()

In [ ]:
movies[movies["Lead Studio"] == "Universal"][["Film"]]

In [ ]:
movies[movies['Rotten Tomatoes %'] > movies["Rotten Tomatoes %"].mean()][[]]

In [ ]:
movies[movies['Audience score %'] == movies['Audience score %'].max()][["Film"]]

In [ ]:
movies.iloc[[30,35,39]]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
30,Penelope,Comedy,Summit,74,1.3828,52,$20.74,2008
35,Not Easily Broken,Drama,Independent,66,2.1400,34,$10.70,2009
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.8258,83,$8.26,2011