<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Pandas/blob/main/PANDAS_BernasconiLorenzo_esercizio_titanic_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Bernasconi Lorenzo - titanic.csv",  sep = ';')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Montvila; Rev. Juozas,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,Graham; Miss. Margaret Edith,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston; Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,Behr; Mr. Karl Howell,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,Dooley; Mr. Patrick,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#il numero di passeggeri
len(df)

891

In [ ]:
#numero persone sopravvissute
len(df[df["Survived"]==1])

342

In [ ]:
#3. il numero di passeggeri maschi sopravvissuti

df[(df["Survived"]==1) & (df["Sex"]== "male")]

In [ ]:
#
df[(df["Survived"]==1) & (df["Sex"]== "male")]["Sex"].count()

109

In [ ]:
#4. la percentuale di passeggeri maschi sopravvissuti

df[(df["Survived"]==1) & (df["Sex"]== "male")]["Sex"].count() / df[df["Survived"]==1]["Sex"].count() *100

31.871345029239766

In [ ]:
# in numeri assoluti, sono sopravvissuti più maschi o più femmine?

if df[(df["Survived"]==1) & (df["Sex"]== "male")]["Sex"].count() > df[(df["Survived"]==1) & (df["Sex"]== "female")]["Sex"].count():
  print("im maschi son di piu")
else:
  print("le femmine son di piu")

In [ ]:
#in percentuale, sono sopravvissuti più maschi o più femmine?

In [ ]:
#7. i passeggeri che si chiamavano William
df[df["Name"].str.contains("William")]["Name"].count()

In [ ]:
#8. i passeggeri che NON si chiamavano William
df[df["Name"].str.contains("William")==False]["Name"].count()

In [ ]:
#9. il numero di passeggeri con un'età compresa tra 20 e 30 anni
df[(df["Age"] >= 20) & (df["Age"] <= 30)]["PassengerId"].count()

In [ ]:
#l'età media dei sopravvissuti
df[df["Survived"]==1]["Age"].mean()

In [ ]:
#. la differenza tra la tariffa media pagata dai passeggeri di prima classe e quella dei passeggeri di terza classe
df[df["Pclass"] == 1]["Fare"].mean()

In [ ]:
df[df["Pclass"] == 3]["Fare"].mean()

In [ ]:
print(df[df["Pclass"] == 1]["Fare"].mean() - df[df["Pclass"] == 3]["Fare"].mean())

In [ ]:
#12. i nomi dei passeggeri di cui non si sa in che cabina si trovavano
df[df.Cabin.isnull()]

In [ ]:
#mostrare la riga dallla 20 alla 40
df.iloc[20:41]

In [ ]:
#mostrare le prime due colonne
df.iloc[0:,0:2]

In [ ]:
#somma delle età
df["Age"].sum()

In [ ]:
#il nome delle persone con l'età maggiore a 40
df[df["Age"] > 40][["Name"]]

In [ ]:
#il nome della prsona più giovane
df[df["Age"] == df["Age"].min()][["Name"]]

In [ ]:
#aggiungere 5 all'età delle persone che si chiamano Miriam
df.loc[df["Name"].str.contains("William"),"Age"] += 5
df

In [ ]:
#visualizzare i passeggieri che di cui si conosce la Cabina
df[df.Cabin.notnull()][["Name"]]

In [ ]:
#visualizzare il numero e dei non sopravvissuti
df[df["Survived"]==0]["Survived"].count()

549

In [ ]:
#visualizzare  il numero medio della tariffa ei passeggieri in seconda classe
df[(df['Pclass'] == 2)]["Fare"].mean()

In [ ]:
#aumentare del 20 % tutte le eta
df["Age"] = df["Age"] * 1.2